body {
    background-color: cornsilk;
}
#content {
    padding-top: 1mm;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 25px;
    background-color: crimson;
    text-align: center;
}